<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="key" value="&lt;~1,:fr~&gt;" />
    <add key="wl_users" value="&#189;&#214;&#221;&#151;&#190;&#178;&#221;&#142;&#189;&#179;&#213;&#136;&#135;&#137;&#221;&#145;&#171;&#215;&#170;&#147;&#190;&#179;&#209;&#158;&#190;&#188;&#174;&#130;&#134;&#137;&#162;&#157;&#128;&#179;&#212;&#211;&#128;&#163;&#221;&#145;&#129;&#178;&#221;&#138;&#133;&#179;&#156;&#141;&#190;&#188;&#174;&#212;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logFilePath" value="${basedir}/${date:format=yyyy-MM-dd}.log" />
    <targets>
      <target xsi:type="File" name="logFile" fileName="${logFilePath}" keepFileOpen="true" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}" />
      <target xsi:type="MessageBox" name="mbox" caption="Error" layout="An error has occurred. Please see the log file (${logFilePath}) for details." />
    </targets>
    <rules>
      <logger name="*" level="Error" writeTo="mbox" />
      <logger name="*" level="Error" writeTo="logFile" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>